<div class="header">
  <h4 class="mat-h2">Angular Formly Material</h4>
  <app-form [formModel]="formModelArray" *ngIf="formModelArray"></app-form>
</div>

<!-- <form [formGroup]="form1" (ngSubmit)="onSubmit()">
  <formly-form [form]="form1" [model]="model1" [fields]="fields1">
  </formly-form>

  <button
    *ngIf="!form1.invalid"
    type="submit"
    color="primary"
    mat-raised-button
  >
    Submit
  </button>
</form>

<form [formGroup]="form2" (ngSubmit)="onSubmit()">
  <formly-form [form]="form2" [model]="model2" [fields]="fields2">
  </formly-form>

  <button
    *ngIf="!form2.invalid"
    type="submit"
    color="primary"
    mat-raised-button
  >
    Submit
  </button>
</form>

<div>
  <span>
    {{ model1 | json }}
  </span>
</div> -->


